.place__title {
  grid-area: title;
  margin: 0;
  padding: 0;
  align-self: start;
  justify-self: start;
  font-family: 'Inter Black';
  font-size: 72px;
  line-height: 76px;
  white-space: pre-line;
}