.intro__subtitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  max-width: 640px;
  text-align: center;
  margin: 32px 0 0;
  padding: 0;
}

@media screen and (max-width: 480px) {
  .intro__subtitle {
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (max-width: 320px) {
  .intro__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
    max-width: 288px;
  }
}