.cover__subtitle {
  font-size: 18px;
  line-height: 22px;
  white-space: pre-line;
  text-decoration: none;
  color: #fff;
  margin: 32px 0 0;
  padding: 0;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin: 16px 0 0;
    white-space: normal;
  }  
}