.place__text-wrapper {
  grid-area: text;
  margin: 0;
  padding: 0;
  align-self: start;
  justify-self: start;
}

@media screen and (max-width: 320px) {
  .place__text-wrapper {
    margin-right: 16px;
    margin-left: 16px;
  }  
}