.pictures-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, max-content));
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  justify-content: center;
  gap: 16px;
  margin: 92px 0;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .pictures-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, calc(100%/284*300)));
    grid-template-rows: repeat(4, minmax(min-content, calc(100%/213*225)));
    justify-content: center;
    gap: 14px;
    margin: 92px 48px 0;
  }
}

@media (max-width: 768px) {
  .pictures-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, calc(100%/284*352)));
    grid-template-rows: repeat(6, minmax(min-content, calc(100%/213*264)));
    justify-content: center;
    gap: 16px;
    margin-top: 88px;
    margin-right: 24px;
    margin-left: 24px;
  }
}

@media (max-width: 320px) {
  .pictures-grid {
    grid-template-columns: 1fr;
    gap: 12px;
    margin-top: 64px;
    margin-right: 16px;
    margin-left: 16px;
  }
}