.place__text {
  font-size: 18px;
  line-height: 163%;
  margin: 0 32px 0 0;
  padding: 0;
  max-width: 484px;
  width: calc(50vw - 148px - 32px);
}

.place__text:not(:last-child) {
  margin-bottom: 26px;
}

@media screen and (max-width: 1024px) {
  .place__text {
    margin-right: 0;
    width: calc(50vw - 48px - 24px);
  }
}

@media screen and (max-width: 768px) {
  .place__text {
    width: calc(50vw - 32px - 2px);
    font-size: 16px;
  }
  .place__text:not(:last-child) {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 480px) {
  .place__text {
    font-size: 10px;
  }
}

@media screen and (max-width: 320px) {
  .place__text {
    width: 100%;
    line-height: 163%;
    font-size: 16px;
  }
}