.logo {
  display: flex;
  margin: 0;
  padding: 0;
  width: 176px;
  height: 52px;
  background-image: url(../../images/logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 480px) {
  .logo {
    width: 142px;
    height: 42px;
  }
}