.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-right: 48px;
    margin-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    margin-right: 0;
    margin-left: 0;
  }
}