.statistics {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0 0 0 100px;
  max-width: 690px;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .statistics {
    margin-left: 48px;
    margin-right: 48px;
  }  
}

@media screen and (max-width: 768px) {
  .statistics {
    margin-left: 24px;
    margin-right: 24px;
    max-width: 720px;
  }  
}

@media screen and (max-width: 480px) {
  .statistics {
    margin-left: 16px;
    margin-right: 16px;
    max-width: 288px;
  }  
}