.header__image-title {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 8px 0 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .header__image-title {
    margin: 8px 24px 0;
  }
}