.cover {
  margin: 92px auto 0;
  padding: 0;
  min-width: 320px;
  max-width: 1184px;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin-top: 66px;
  }
}