.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 92px 0 24px;
}

@media screen and (max-width: 1024px) {
  .footer {
    margin: 0 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 0 24px 0;
    padding: 88px 0 24px;
  }
}

@media screen and (max-width: 740px) {
  .footer {
    margin: 0 16px 0;
    padding: 64px 0 24px;
    flex-direction: column;
    align-items: stretch;
    row-gap: 48px;
  }
}