.header__title {
  font-family: 'Inter Black';
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0;
  padding: 0;
  white-space: pre-line;
}

@media screen and (max-width: 740px) {
  .header__title {
    font-size: 80px;
    line-height: 84px;
  }
}

@media screen and (max-width: 560px) {
  .header__title {
    font-size: 60px;
    line-height: 64px;
  }
}

@media screen and (max-width: 430px) {
  .header__title {
    font-size: 44px;
    line-height: 48px;
  }
}

@media screen and (max-width: 320px) {
  .header__title {
    font-size: 40px;
    line-height: 44px;
  }
}