.intro__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 56px 0 0;
  padding: 0;
  max-width: 720px;
}

@media screen and (max-width: 1024px) {
  .intro__title {
    margin-top: 48px;
  }
}

@media screen and (max-width: 740px) {
  .intro__title {
    font-size: 80px;
    line-height: 84px;
  }
}

@media screen and (max-width: 560px) {
  .intro__title {
    font-size: 60px;
    line-height: 64px;
  }
}

@media screen and (max-width: 430px) {
  .intro__title {
    font-size: 44px;
    line-height: 48px;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 40px;
    line-height: 44px;
  }
}